body {
    font-family: Hero, 'Franklin Gothic Medium', 'Arial Narrow', Arial, fantasy;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 200px;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

button:disabled {
    display: none;
}
